.sign-in{
    display:flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 80vh;
    display: flex;
    justify-content: center;
}
p{
    color: white;
}

.button_submit{
    display:flex;
    margin-top:13px;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}