body {
    background-image: url("images/background-field.png");
    margin: 0;

}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: rgb(172, 172, 172);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.navbar-left {
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.images-types {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.pokemon-type {
    transition: transform .2s;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
}

.pokemon-type:hover {
    transform: scale(1.1);
}

.pokemon-type a:active {
    color: blue;
}

.navbar .burger-icon {
    display: none;
}

footer {
    background-color: rgb(152, 197, 255);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        /* border: 3px solid black; */
        background-attachment: fixed;
    }

    .navbar .burger-icon {
        display: initial;
        padding: 25px;
    }

    .images-types {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    #home {
        padding: -20px;
    }

    #pokemon {
        display: none;
    }

    #trainers {
        display: none;
    }

    .navbar {
        height: 75px;
    }

    #search {
        display: block;
        width: 125px;
    }

    #sign {
        font-size: 15px;
    }
}